In [1]:
import pandas as pd
import re

In [2]:
# 'events-US-1980-2024_CostEstimate.csv' 1 billion or more CPI-adjusted cost (x-millions).

df = pd.read_csv('events-US-1980-2024_CostEstimate.csv', sep=",", header=2)

In [3]:
df

,Name,Disaster,Begin Date,End Date,CPI-Adjusted Cost,Unadjusted Cost,Deaths
0,Southern Severe Storms and Flooding (April 1980),Flooding,19800410,19800417,2749.4,706.8,7
1,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2236.2,590.0,13
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,19800601,19801130,40681.2,10020.0,1260
3,Florida Freeze (January 1981),Freeze,19810112,19810114,2076.4,572.0,0
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,19810505,19810510,1409.1,401.4,20
...,...,...,...,...,...,...,...
398,Hurricane Debby (August 2024),Tropical Cyclone,20240805,20240809,2476.0,2476.0,17
399,Hurricane Francine (September 2024),Tropical Cyclone,20240911,20240912,1291.0,1291.0,0
400,Hurricane Helene (September 2024),Tropical Cyclone,20240924,20240929,78721.0,78721.0,219
401,Hurricane Milton (October 2024),Tropical Cyclone,20241009,20241010,34250.0,34250.0,32
402,Southern/Eastern/Northwestern Drought and Heat...,Drought,20240101,20241231,5417.0,5311.0,136

In [4]:
columns =df.columns
print(columns)

Index(['Name', 'Disaster', 'Begin Date', 'End Date', 'CPI-Adjusted Cost',
       'Unadjusted Cost', 'Deaths'],
      dtype='object')

In [5]:
dtypes = df.dtypes
print(dtypes)

Name                  object
Disaster              object
Begin Date             int64
End Date               int64
CPI-Adjusted Cost    float64
Unadjusted Cost      float64
Deaths                 int64
dtype: object

In [6]:
df['begin_date'] = pd.to_datetime(df['Begin Date'], format='%Y%m%d')
df['end_date'] = pd.to_datetime(df['End Date'], format='%Y%m%d')


#df['time'] = pd.to_datetime(df['time'], format='%H%M').dt.time
#df['year'] = pd.to_datetime(df['year'], format='%Y')

df

,Name,Disaster,Begin Date,End Date,CPI-Adjusted Cost,Unadjusted Cost,Deaths,begin_date,end_date
0,Southern Severe Storms and Flooding (April 1980),Flooding,19800410,19800417,2749.4,706.8,7,1980-04-10,1980-04-17
1,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2236.2,590.0,13,1980-08-07,1980-08-11
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,19800601,19801130,40681.2,10020.0,1260,1980-06-01,1980-11-30
3,Florida Freeze (January 1981),Freeze,19810112,19810114,2076.4,572.0,0,1981-01-12,1981-01-14
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,19810505,19810510,1409.1,401.4,20,1981-05-05,1981-05-10
...,...,...,...,...,...,...,...,...,...
398,Hurricane Debby (August 2024),Tropical Cyclone,20240805,20240809,2476.0,2476.0,17,2024-08-05,2024-08-09
399,Hurricane Francine (September 2024),Tropical Cyclone,20240911,20240912,1291.0,1291.0,0,2024-09-11,2024-09-12
400,Hurricane Helene (September 2024),Tropical Cyclone,20240924,20240929,78721.0,78721.0,219,2024-09-24,2024-09-29
401,Hurricane Milton (October 2024),Tropical Cyclone,20241009,20241010,34250.0,34250.0,32,2024-10-09,2024-10-10
402,Southern/Eastern/Northwestern Drought and Heat...,Drought,20240101,20241231,5417.0,5311.0,136,2024-01-01,2024-12-31

In [7]:
dtypes = df.dtypes
print(dtypes)

Name                         object
Disaster                     object
Begin Date                    int64
End Date                      int64
CPI-Adjusted Cost           float64
Unadjusted Cost             float64
Deaths                        int64
begin_date           datetime64[ns]
end_date             datetime64[ns]
dtype: object

In [8]:
#how many tropical cyclones 
unique_values = df['Disaster'].unique()

# Print the unique values
print(unique_values)

['Flooding' 'Tropical Cyclone' 'Drought' 'Freeze' 'Severe Storm'
 'Winter Storm' 'Wildfire']

In [9]:
# count the unique values in a column 
# Count unique values in the specified column
unique_count = df['Disaster'].nunique()

# Print the count of unique values
print(unique_count)

7

In [10]:
# make a df for tropical cyclone only
tropical_cyclone_df = df[df['Disaster'] == 'Tropical Cyclone']

# Print the new DataFrame
print(tropical_cyclone_df)

                                    Name          Disaster  Begin Date  \
1          Hurricane Allen (August 1980)  Tropical Cyclone    19800807
10        Hurricane Alicia (August 1983)  Tropical Cyclone    19830817
19      Hurricane Elena (September 1985)  Tropical Cyclone    19850830
20     Hurricane Gloria (September 1985)  Tropical Cyclone    19850926
21         Hurricane Juan (October 1985)  Tropical Cyclone    19851027
..                                   ...               ...         ...
396          Hurricane Beryl (July 2024)  Tropical Cyclone    20240708
398        Hurricane Debby (August 2024)  Tropical Cyclone    20240805
399  Hurricane Francine (September 2024)  Tropical Cyclone    20240911
400    Hurricane Helene (September 2024)  Tropical Cyclone    20240924
401      Hurricane Milton (October 2024)  Tropical Cyclone    20241009

     End Date  CPI-Adjusted Cost  Unadjusted Cost  Deaths begin_date  \
1    19800811             2236.2            590.0      13 1980-08-07
10   19830820             9450.0           3000.0      21 1983-08-17
19   19850903             3788.4           1297.4       4 1985-08-30
20   19850928             2491.3            856.1      11 1985-09-26
21   19851031             4340.4           1496.7      63 1985-10-27
..        ...                ...              ...     ...        ...
396  20240708             7219.0           7219.0      46 2024-07-08
398  20240809             2476.0           2476.0      17 2024-08-05
399  20240912             1291.0           1291.0       0 2024-09-11
400  20240929            78721.0          78721.0     219 2024-09-24
401  20241010            34250.0          34250.0      32 2024-10-09

      end_date
1   1980-08-11
10  1983-08-20
19  1985-09-03
20  1985-09-28
21  1985-10-31
..         ...
396 2024-07-08
398 2024-08-09
399 2024-09-12
400 2024-09-29
401 2024-10-10

[67 rows x 9 columns]

In [11]:
dtypes = tropical_cyclone_df.dtypes
print(dtypes)

Name                         object
Disaster                     object
Begin Date                    int64
End Date                      int64
CPI-Adjusted Cost           float64
Unadjusted Cost             float64
Deaths                        int64
begin_date           datetime64[ns]
end_date             datetime64[ns]
dtype: object

In [12]:
import matplotlib # Bar plot
plt.figure(figsize=(12, 6))
plt.bar(tropical_cyclone_df['Name'], tropical_cyclone_df['CPI-Adjusted Cost'], color='blue')
plt.title('CPI Adjusted Cost for Tropical Cyclone Events')
plt.xlabel('Event Name')
plt.ylabel('CPI Adjusted Cost')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.tight_layout()

# Save the figure before showing it
plt.savefig('bar_plot.png')

# Show the plot
plt.show()

NameError: name 'plt' is not defined

In [ ]:
#scatter plot
plt.figure(figsize=(12, 6))
plt.scatter(tropical_cyclone_df['Name'], tropical_cyclone_df['CPI-Adjusted Cost'], color='blue')
plt.title('CPI Adjusted Cost for Tropical Cyclone Events')
plt.xlabel('Event Name')
plt.ylabel('CPI Adjusted Cost')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.tight_layout()
plt.show()